ACCESS_KEY=your-hms-access-key
APP_SECRET="your-hms-app-secret"
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DBNAME"

# DATABASE_URL="postgresql://postgres:password@localhost:5432/callsquare"
DISCORD_CLIENT_ID=your-discord-client-id
DISCORD_CLIENT_SECRET=your-discord-client-secret
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret
GOOGLE_CLIENT_ID=your-google-oauth-client-id
GOOGLE_CLIENT_SECRET=your-google-oauth-client-secret
NEXTAUTH_SECRET="your-nextauth-secret"
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
# NEXTAUTH_URL=https://camblissstudio.cloud
# NEXT_PUBLIC_APP_URL=https://camblissstudio.cloud/
PORT=10000
RESEND_API_KEY=re_your-resend-api-key
RAZORPAY_KEY=rzp_test_or_live_key
RAZORPAY_SECRET=your-razorpay-secret
TEMPLATE_ID=your-resend-template-id
TOKEN_ENDPOINT=https://api.100ms.live/v2
HMS_MANAGEMENT_TOKEN=your-hms-management-token
HMS_ROOM_ID=your-hms-room-id
# For nodemailer SMTP (Gmail example):
SMTP_USER=you@example.com
SMTP_PASS=your-app-password

